<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="Bestbg">

  {% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' }}{% endif %}{% endcapture %}
    <link rel="canonical" href="{{ canonical }}">
    <link href="{{ site.url }}/feed.xml" rel="alternate" title="{{site.title}}" type="application/rss+xml">
    <link rel="shortcut icon" href="{{ "/assets/ico/favicon.ico" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" href="{{ "/assets/ico/apple-touch-icon.png" | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{ "/assets/ico/apple-touch-icon-57x57.png" | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ "/assets/ico/apple-touch-icon-72x72.png" | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ "/assets/ico/apple-touch-icon-76x76.png" | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ "/assets/ico/apple-touch-icon-114x114.png" | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon" sizes="120x120" href="{{ "/assets/ico/apple-touch-icon-120x120.png" | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ "/assets/ico/apple-touch-icon-144x144.png" | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{{ "/assets/ico/apple-touch-icon-152x152.png" | prepend: site.baseurl }}" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@canexo_com">
    <meta name="twitter:creator" content="@canexo_com">
    {% if page.title %}
    <meta name="twitter:title" content="{{ page.title }}">
    {% else %}
    <meta name="twitter:title" content="{{ site.title }}">
    {% endif %}
    {% if page.url %}
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    {% endif %}
    {% if page.description %}
    <meta name="twitter:description" content="{{ page.description }}">
    {% else %}
    <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}
    {% if page.image %}
    <meta name="twitter:image:src" content="{{ site.url }}/assets/img/blog/{{ page.image }}">
    {% else %}
    <meta name="twitter:image:src" content="{{ site.url }}/assets/img/Media-Card.png">
    {% endif %}

    <!-- Open Graph data -->
    <meta name="og:type" content="website" />
    <meta name="og:site_name" content="{{ site.title }}" />
    <meta name="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta name="og:description" content="{{ page.description | strip_html | condense_spaces | truncate:150 }}" />
    <meta name="og:url" content="{{ site.url }}{{ page.url }}"/>
    {% for category in page.categories %}
    <meta property="article:tag" content="{{ category }}" />
    {% endfor %}
    {% if page.date %}
    <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
    <meta content="{{ site.url }}" property="article:author">
    {% endif %}
    {% if page.image %}
    <meta content="{{ site.url }}/assets/img/blog/{{ page.image }}" property="og:image">
    {% else %}
    <meta content="{{ site.url }}/assets/img/Media-Card.png" property="og:image">
    {% endif %}
    <meta property="fb:admins" content="611311585565226" />

    <!-- syntax highlighting CSS -->
    <link href="{{ "/assets/css/pygments.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="{{ "/assets/css/bootstrap.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ "/assets/css/style.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/assets/css/font-awesome.min.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Custom CSS -->
    <!--<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">-->


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
    #backtotop {
        font-family:Arial, Helvetica, sans-serif;
        font-size:15px;
        color:#fafafa;
        border:1px solid #111111;
        border-radius: 8px;
        background:#333333;
        padding:6px 10px;
        position:fixed;
        bottom:50px;
        right:20px;
        display:none;
        cursor: pointer;
    }
    #backtotop:hover {
    color: #fff !important;
    background-color: #4D9C2F;
    text-decoration: none;
    }
    </style>

    <script src="{{ "/assets/js/modernizr-2.6.2-respond-1.1.0.min.js" | prepend: site.baseurl }}"></script>
    <!--     <script src="{{ "/assets/js/Chart.js" | prepend: site.baseurl }}"></script> -->

    <!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
$.src='//v2.zopim.com/?2JDUNrx1j0BlhcrHTXCDNLRD2Oz1YD5i';z.t=+new Date;$.
type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
</script>
<!--End of Zopim Live Chat Script-->
</head>
