<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="Bestbg">

  {% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' }}{% endif %}{% endcapture %}
    <link rel="canonical" href="{{ canonical }}">
    <link href="{{ site.url }}/feed.xml" rel="alternate" title="{{site.title}}" type="application/rss+xml">
    <link rel="shortcut icon" href="{{ "/assets/ico/favicon.ico" | prepend: site.baseurl }}">

    <!-- syntax highlighting CSS -->
    <link href="{{ "/assets/css/pygments.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="{{ "/assets/css/bootstrap.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ "/assets/css/style.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/assets/css/font-awesome.min.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Custom CSS -->
    <!--<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">-->


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
    #backtotop {
        font-family:Arial, Helvetica, sans-serif;
        font-size:12px;
        color:#fafafa;
        border:1px solid #111111;
        border-radius: 8px;
        background:#333333;
        padding:6px 10px;
        position:fixed;
        bottom:50px;
        right:20px;
        display:none;
        cursor: pointer;
    }
    #backtotop:hover {
    color: #fff !important;
    background-color: #4D9C2F;
    text-decoration: none;
    }
    </style>

    <script src="{{ "/assets/js/modernizr.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/Chart.js" | prepend: site.baseurl }}"></script>

    <!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
$.src='//v2.zopim.com/?2JDUNrx1j0BlhcrHTXCDNLRD2Oz1YD5i';z.t=+new Date;$.
type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
</script>
<!--End of Zopim Live Chat Script-->
</head>
