<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">BESTBG<i class="fa fa-crosshairs"></i>COM</a>
    </div>
    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li {% if page.title == "WordPress Site Transfer and Installation Services" %}class="active"{% endif %}><a href="{{"/" | prepend: site.baseurl }}">HOME</a></li>
        <li {% if page.title == "WordPress Maintenance and Speed Optimization" %}class="active"{% endif %}><a href="{{"/wordpress-services/" | prepend: site.baseurl }}">SERVICES</a></li>
        <li {% if page.title == "WordPress Professional Services" %}class="active"{% endif %}><a href="{{"/wordpress-clients/" | prepend: site.baseurl }}">WORKS</a></li>
        <li><a href="https://bestbg.uservoice.com/" target="_blank" rel="nofollow">SUPPORT</a></li>
        <li {% if page.title == "Blogging Tips, WordPress and Ghost Themes, Tutorials" %}class="active"{% endif %}><a href="{{"/blog/" | prepend: site.baseurl }}">BLOG</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
