---
layout: default
---

{% include wrap.html %}

<div class="container mt">
    <div class="row">

        {% include carousel.html %}

        <div class="col-lg-5 col-lg-offset-1">
            <div class="spacing"></div>

            {{ content }}

        </div>
        <div class="col-lg-4 col-lg-offset-1">
            <div class="spacing"></div>
            <h4>Project Details</h4>
            <div class="hline"></div>
            <p><b>Author:</b> {{ page.author }}</p>
            <p><b>Categories:</b> {{ page.categories }}</p>
            <p><b>Tagged:</b> WordPress, Speed Optimization, Site Transfer</p>
            <p><b>Client:</b> {{ page.client }}</p>
            <p><b>Website:</b> <a href="{{ page.website }}">{{ page.website }}</a></p>
        </div>
    </div><! --/row -->
</div><! --/container -->
	 
{% include portfolio.html title="Related Works." limit=5 %}

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div id="r">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <h4>PROFESSIONAL WORDPRESS MAINTENANCE SERVICES</h4>
                    <p>Keeping your WordPress installation always up-to-date and smoothly running is critical in ensuring your site is safe and secure. You Don't want to lose the outcome of many years work because you've missed an important update and your Wordpress got hacked. Subscribing to our Advanced monthly maintenance plans saves you time and money and leaves all you Wordpress concerns to our Technical support!</p>
                </div>
            </div><!-- row -->
        </div><!-- container -->
    </div><! -- r wrap -->
